.mail-editor {
  max-height: 100%;
}

.mail-editor .mdc-layout-grid__inner {
  margin: 1rem;
}

.mail-editor .mdc-text-field {
  width: 100%;
}

.mail-editor .mdc-text-field--textarea {
  margin: 0;
  margin-top: 1rem;
}

.mail-editor textarea {
  padding: 16px!important;
  resize: none!important;
  height: 20rem!important;
}

.mail-editor .markdown {
  margin-bottom: 2rem;
}

.mail-editor .result {
  background-color: white;
  border-radius: 0.25rem;
  padding: 16px;
  height: 20rem;
  overflow: auto;
  border: black;
  border-style: solid;
  border-width: 1px;
}

.mdc-fab.send {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}