@import '@material/typography/mdc-typography.scss';
@import '@material/layout-grid/mdc-layout-grid.scss';
@import '@material/elevation/mdc-elevation.scss';
@import '@material/ripple/mdc-ripple.scss';
@import '@material/button/mdc-button.scss';
@import '@material/linear-progress/mdc-linear-progress';
@import '@material/drawer/mdc-drawer';
@import '@material/grid-list/mdc-grid-list';
@import '@material/list/mdc-list';

body {
  display: flex;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
}

.content {
  display: flex;
  flex: 1 1 auto;
  height: 100vh;
  box-sizing: border-box;
}

.mdc-grid-remove-gutter-margin {
  --mdc-layout-grid-gutter-desktop: 0px;
  --mdc-layout-grid-margin-desktop: 0px;
}

.center-text {
  text-align: center;
}

.full-height {
  min-height: 100vh;
}

.caps {
  text-transform: capitalize!important;
}