@import '@material/typography/mdc-typography.scss';
@import '@material/layout-grid/mdc-layout-grid.scss';
@import '@material/elevation/mdc-elevation.scss';
@import '@material/ripple/mdc-ripple.scss';
@import '@material/button/mdc-button.scss';
@import '@material/linear-progress/mdc-linear-progress';
@import '@material/drawer/mdc-drawer';
@import '@material/grid-list/mdc-grid-list';
@import '@material/list/mdc-list';
@import '@material/form-field/mdc-form-field';
@import '@material/notched-outline/mdc-notched-outline';
@import '@material/menu/mdc-menu';
@import '@material/textfield/mdc-text-field';
@import '@material/fab/mdc-fab';
@import '@material/dialog/mdc-dialog';
@import '@material/checkbox/mdc-checkbox';

body {
  display: flex;
  padding: 0;
  margin: 0;
  min-height: 100%;
  min-height: 100vh;
  flex-direction: column;
  box-sizing: border-box;
  @include mdc-typography-base;
}

h1 {
  @include mdc-typography('headline1');
}

h2 {
  @include mdc-typography('headline2');
}

h3 {
  @include mdc-typography('headline3');
}

h4 {
  @include mdc-typography('headline4');
}

.content {
  display: flex;
  flex: 1 1 auto;
  height: 100vh;
  box-sizing: border-box;
}

.container {
  width: 100%;
  overflow: auto;
}

.mdc-layout-grid__inner.mdc-layout-grid-remove-gutter {
  --mdc-layout-grid-gutter-desktop: 0px;
}

.mdc-layout-grid-remove-gutter-margin {
  --mdc-layout-grid-gutter-desktop: 0px;
  --mdc-layout-grid-margin-desktop: 0px;
}

.mdc-fab.send {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
}

.center-text {
  text-align: center;
}

.full-height {
  min-height: 100vh;
}

.caps {
  text-transform: capitalize!important;
}

.hidden {
  display: none;
}